.b-radio-group {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;

  &__label {
    color: #222222;
    font-size: 16px;
    font-weight: 800;
    line-height: 24px;
    font-family: "Circe";
    text-align: left;
  }
}

.b-radio {
  display: flex;
  margin-top: 15px;

  &__button {
    background-color: transparent;
    border: 2px solid #222222;
    margin-left: 15px;
    border-radius: 10px;
    line-height: 40px;
    padding: 0 15px;
    font-size: 16px;
    color: #222222;
    font-family: "Circe";
    font-weight: 400;
    cursor: pointer;
    outline: none;
    transition: all 0.23s;
    &:first-child {
      margin-left: 0;
    }
    &.is-active {
      background-color: #0074af;
      color: #ffffff;
      box-shadow: 0px 2px 0px rgba(34, 34, 34, 0.8);
    }
  }
}
