.b-checkbox {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  cursor: pointer;

  &__group {
  }

  &__title {
    color: #222222;
    font-size: 16px;
    font-weight: 800;
    line-height: 24px;
    font-family: "Circe";
    text-align: left;
  }

  &__items {
    margin-top: 15px;
    text-align: left;
    & > .b-checkbox {
      margin-top: 15px;
      &:first-child {
        margin-top: 0;
      }
    }
  }

  &__label {
    font-family: "Circe";
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    color: #222222;
    margin-left: 5px;
  }

  &__input {
    font-size: 0px;
    width: 0;
    height: 0;
  }

  &__outline {
    border: 2px solid #222222;
    width: 20px;
    height: 20px;
    border-radius: 5px;
    transition: background-color 0.23s;
  }

  &__check {
    position: absolute;
    width: 9px;
    height: 7px;
    left: 5px;
    top: 50%;
    transform: translateY(-50%);
    opacity: 0;
    transition: opacity 0.23s;
  }

  &.is-checked {
    & .b-checkbox__outline {
      background-color: #222222;
    }

    & .b-checkbox__check {
      opacity: 1;
    }
  }
}
