.b-select {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 70px;
  border: 2px solid #222222;
  border-radius: 10px;
  min-width: 340px;
  padding: 10px 20px;
  cursor: pointer;

  &__tags {
    display: flex;
    overflow: hidden;
  }

  &__tag {
    padding-left: 5px;
    &:first-child {
      padding-left: 0;
    }
  }

  &__label {
    text-align: left;
    font-size: 14px;
    font-family: "Circe";
    color: #999999;
  }

  &__output {
    display: flex;
    flex: 1 0 auto;
    justify-content: space-between;
    align-items: center;
    font-size: 18px;
    color: #222222;
    font-family: "Circe";
    font-weight: 400;
  }

  &__popup {
    display: none;
    position: absolute;
    background-color: #fff;
    border: 2px solid #222222;
    padding: 0 15px;
    border-radius: 5px;
    left: calc(100% + 15px);
    top: 0;
    min-width: 250px;
    &--active {
      display: inherit;
    }
  }

  &__tags {
  }

  &__tag {
  }

  &__icon {
    position: absolute;
    right: 20px;
    top: 50%;
    transform: translateY(-50%);
  }

  &__items {
    list-style: none;
    padding: 0;
    margin: 0;
  }

  &__item {
    position: relative;
    text-align: left;
    line-height: 40px;
    font-family: "Circe";
    font-size: 16px;
  }

  &__btn {
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    border: 2px solid #222222;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: transparent;
    transition: background-color 0.18s;
    & > svg {
      content: "";
      position: absolute;
      left: 50%;
      top: 50%;
      width: 4px;
      height: 4px;
      transform: translate(-50%, -50%);
      mask-position: center;
      mask-size: 4px;
      fill: transparent;
      transition: fill 0.23s;
    }
    &--active {
      background-color: #222222;
      & > svg {
        fill: #ffffff;
      }
    }
  }
}
