.demo-row {
  position: relative;
  display: flex;
  height: 100vh;
  background-color: #edeef0;
  overflow: hidden;
}

.demo-bg-circe {
  position: absolute;
  right: -150px;
  bottom: -180px;
  background-color: #ffce43;
  width: 894px;
  height: 894px;
  z-index: 1;
  border-radius: 50%;
}

.demo-left {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  width: 430px;
  max-width: 100%;
  flex: 1 0 auto;
  background-color: #fff;
  box-shadow: 4px 4px 0px #252525;
  border-right: 2px solid #252525;
  padding: 0 20px;
  &__header {
    font-family: "Circe";
    color: #252525;
    font-size: 30px;
    font-weight: 900;
    line-height: 100px;
  }

  &__container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    flex: 1 0 auto;
    width: 100%;
    margin-top: 30px;
  }

  &__title {
    font-family: "Circe";
    font-size: 25px;
    font-weight: 600;
    color: #252525;
    line-height: 36px;
  }

  &__description {
    font-family: "Circe";
    font-size: 16px;
    font-weight: 400;
    color: #252525;
    margin-top: 20px;
    line-height: 24px;
    font-style: normal;
  }

  &__button {
    width: calc(100% + 40px);
    margin: 0 -20px;
    & > button {
      font-size: 20px;
      background-color: #ffce43;
      color: #222222;
      font-family: "Circe";
      font-weight: 400;
      line-height: 70px;
      width: 100%;
      border: none;
      cursor: pointer;
      outline: none;
    }
  }
}

.demo-main {
  display: flex;
  flex-direction: column;
  width: calc(100% - 480px);
  margin-left: 50px;
}

.demo-header {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100px;
}

.demo-content {
  display: flex;
  flex-direction: column;
  flex: 1 0 auto;
  margin-top: 30px;
  z-index: 2;

  &__step {
    display: flex;
    justify-content: center;
  }

  &__header {
    font-family: Circe;
    font-style: normal;
    font-weight: normal;
    font-size: 40px;
    line-height: 59px;
    color: #252525;
    text-align: center;
    font-weight: 900;
    margin-top: 30px;
    &.textAlignLeft {
      text-align: left;
    }
  }

  &__body {
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1 0 auto;
    margin-top: 40px;
  }
}

.demo-logo {
  width: 180px;
  height: 50px;
  fill: #0074af;
}

.demo-button-link {
  display: inline-block;
  background-color: transparent;
  border: none;
  font-family: "Circe";
  font-size: 14px;
  font-weight: 400;
  border-bottom: 0.7px solid #222222;
  color: #222222;
  cursor: pointer;
  transition: 0.18s border-bottom-color, 0.23s opacity;
  outline: none;
  margin-top: 5px;
  &:hover {
    border-bottom-color: #22222200;
  }
  &:active {
    opacity: 0.65;
  }
}
