.company-layout-content {
  min-height: 280px;
  padding: 20px 24px;

  &__header {
    display: block;
    font-size: 20px;
    font-weight: bold;
  }

  &__left {
    padding: 20px;
    border-right: 1px solid #ececee;
    height: 100%;
  }

  &__right {
    padding: 20px;
  }

  &__actions {
    margin-top: 20px;
  }

  &__action {
    min-width: 200px;
  }

  &__link {
  }

  &__name {
  }
  &__username {
    font-size: 20px;
    font-weight: 800;
  }

  &__contact {
    display: flex;
    align-items: center;
    margin-top: 20px;
    & > * {
      margin-left: 12px;
    }
    & > *:first-child {
      margin-left: 0;
    }
  }

  &__phone {
    font-size: 16px;
    cursor: pointer;
  }

  &__description {
    margin-top: 20px;
    @extend #layout-content;
  }

  &__issues {
    margin-top: 20px;
    & .ant-list-item-meta-title {
      font-weight: bold;
    }
    @extend #layout-content;
  }

  &__list {
    display: flex;
    justify-content: center;
    text-align: "center";
    margin-top: 12px;
    height: 32px;
    line-height: 32px;
  }

  &__price {
    display: flex;
    flex-direction: column;
    padding-left: 15px;
    & > span {
      margin-top: 5px;
      padding-top: 5px;
      padding-left: 10px;
      font-weight: 500;
      border-top: 1px solid #ececee;
    }
    & > span:first-child {
      margin-top: 0;
      padding-top: 0;
      border-top: none;
    }
  }
}

#layout-content {
  max-width: 920px;
}

@media screen and (max-width: 767px) {
  .company-layout-content {
    &__contact {
      flex-direction: column;
      justify-content: start;
      align-items: flex-start;
      & > * {
        margin-left: 0;
        margin-top: 15px;
        min-width: 75%;
        text-align: center;
      }
      & > *:first-child {
        margin-top: 0;
      }
    }

    &__header {
      font-size: 18px;
    }

    &__left {
      padding: 0;
      border-right: none;
    }
  
    &__right {
      padding: 0;
      margin-top: 20px;
    }
  

    &__issues {
      & .ant-list-item {
        display: flex;
        flex-direction: column;
      }
    }

    &__price {
      width: 100%;
      margin-top: 15px;
      border-top: 1px solid #ececee;
      padding-top: 10px;
      padding-left: 0;
      & > span {
        padding-left: 0;
        border-top: none;
      }
    }
  }
}
