.ant-layout {
    min-height: 100vh;
}

.select-full {
    width: 100%;
}

.select-label {
    margin-bottom: 10px;
    font-size: 14px;
}

.layout-top {
    display: flex;
    &__region {

    }
}

.layout-region-modal {
    max-height: 320px;
    overflow: auto;
}