$col-size: 12;

.container {
  max-width: 1064px;
  padding: 0 20px;
  margin: 0 auto;
}

.main-signInUp {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0 10px;
  min-height: 100vh;
  &__logo {
    padding: 20px 0;
    & > img {
      height: 72px;
      width: auto;
    }
  }
}

.form-signInUp {
  max-width: 100%;
  width: 512px;
}

.logo {
  max-width: 190px;
  height: 50px;
}

.logo > svg {
  max-width: 190px;
  height: 50px;
  fill: #fff;
}

.view-1,
.view-2 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  flex: 1 0 auto;
  height: 100%;
  padding: 0 20px;
}

.form-submit {
  margin-top: 50px;
  display: flex;
  justify-content: center;
}

.form-error {
  color: #e54245;
  font-family: "Circe";
  margin-top: 5px;
  font-size: 12px;
}

@media screen and (min-width: 1024px) {
  .forms {
    position: relative;
    width: 100%;
    overflow: hidden;
    min-height: 380px;
    margin-top: 10px;

    &__slider {
      top: 50%;
      transform: translateY(-50%);
      display: flex;
      align-items: center;
      position: absolute;
      width: 300%;
      transition: left cubic-bezier(0.075, 0.82, 0.165, 1) 0.23s;

      &--1 {
        left: 0;
      }

      &--2 {
        left: -100%;
      }

      &--3 {
        left: -200%;
      }
    }
  }

  .form {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    background-color: #fff;
    border: 1px solid rgba(0, 0, 0, 0.33);
    box-sizing: border-box;
    box-shadow: 10px 10px 0px #111111;
    width: 100%;
    border-radius: 5px;
    padding: 30px;

    %form-reg-type {
      width: 50%;
      background-color: transparent;
      border: none;
      line-height: 40px;
      font-size: 18px;
      color: #112240;
      font-family: "Circe";
      outline: none;
      cursor: pointer;
    }

    &__type {
      position: relative;
      display: flex;
      width: 100%;
      &::before {
        position: absolute;
        width: 50%;
        bottom: 0;
        content: "";
        height: 1px;
        background-color: #112240;
        transition: left cubic-bezier(0.25, 0.1, 0.25, 1) 0.23s,
          width cubic-bezier(0.25, 0.1, 0.25, 1) 0.19s;
      }

      &--l {
        &::before {
          left: 0;
        }
      }

      &--r {
        &::before {
          left: 50%;
        }
      }

      &-auth {
        @extend %form-reg-type;
      }

      &-reg {
        @extend %form-reg-type;
      }
    }

    %form-auth-reg-code {
      width: 100%;
      max-width: 320px;
      margin: 0 auto;
    }

    &__auth {
      @extend %form-auth-reg-code;
    }

    &__reg {
      @extend %form-auth-reg-code;
    }

    &__code {
      @extend %form-auth-reg-code;
    }
  }

  .view-1,
  .view-2 {
    width: 50%;
  }

  .view-1 {
    background-color: #e54245;
    padding: 30px 20px 100px 20px;
    &__content {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: flex-start;
      flex: 1 0 auto;
      width: 520px;
      margin: 50px auto 0 auto;
    }

    &__heading-1 {
      font-family: "Circe";
      font-style: normal;
      font-weight: bold;
      font-size: 40px;
      line-height: 47px;
      color: #ffffff;
    }

    &__subtitle {
      font-style: normal;
      font-weight: normal;
      font-size: 16px;
      line-height: 21px;
      color: #ffffff;
    }

    &__foottitle {
      font-family: "Circe";
      font-style: normal;
      font-weight: normal;
      font-size: 16px;
      line-height: 19px;
      color: #ffffff;
    }
  }

  .view-2 {
    background-color: #112240;
    &__content {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: center;
      flex: 1 0 auto;
      width: 520px;
      margin: 100px auto 100px auto;
    }

    &__heading-1 {
      font-family: "Circe";
      font-weight: bold;
      font-size: 40px;
      line-height: 47px;
      color: #ffffff;
    }

    &__foottitle {
      font-family: "Circe";
      font-style: normal;
      font-weight: normal;
      font-size: 14px;
      line-height: 16px;
      color: #ffffff;
    }
  }
}

@media screen and (max-width: 1023px) {
  .view-1,
  .view-2 {
    width: 50%;
  }

  .view-1 {
  }

  .view-2 {
  }
}

@media screen and (max-width: 720px) {
  .view-1,
  .view-2 {
    width: 100%;
  }

  .view-1 {
  }

  .view-2 {
  }
}

@media screen and (max-width: 480px) {
}
