.setting-layout-sider {
  background-color: #fff;
}

.setting-layout-sider-2 {
  background-color: #fff;
}

.setting-layout-content {
  min-height: 280px;
  padding: 20px 24px;
}

@media screen and (max-width: 767px) {
  .setting-layout-sider {
    position: relative;
    left: -200px;
    transition: left cubic-bezier(0.175, 0.885, 0.32, 1.275) 0.23s;
    &.open {
        left: 0;
    }
  }
  .setting-layout-content {
    min-width: 100vw;
    background-color: #fff;
  }
}
